Repository lfgranja/AGENTIC-devDOCS, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, python, tests

.github/labeler.yml:

# .github/labeler.yml

# Add 'documentation' label to any PR that modifies markdown files
documentation:
  - changed-files:
      - any-glob-to-any-file: ['*.md']

# Add 'ci' label to any PR that modifies GitHub Actions workflows
ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/*']

# Add 'python' label to any PR that modifies python files in the AGENTIC directory
python:
  - changed-files:
      - any-glob-to-any-file: ['AGENTIC/**/*.py']

# Add 'tests' label to any PR that modifies files in the tests directory
tests:
  - changed-files:
      - any-glob-to-any-file: ['tests/**/*.py']

docs(post-pr): add documentation for PR #39
  devDOCS/39/FUTURE_WORK_TODO39.md
  devDOCS/39/ISSUES_TO_CREATE39.md
  devDOCS/39/LESSONS_LEARNED39.md
Labels: none

feat(ci): add workflow for auto-assigning reviewers
  .github/auto_assign.yml
  .github/workflows/auto-assign.yml
Labels: ci

docs(post-pr): add documentation for PR #41
  devDOCS/41/FUTURE_WORK_TODO41.md
  devDOCS/41/ISSUES_TO_CREATE41.md
  devDOCS/41/LESSONS_LEARNED41.md
Labels: none

chore(config): update auto-assign reviewer mapping
  .github/auto_assign.yml
Labels: none

feat(ci): add workflow to triage PRs to project board
  .github/workflows/triage-to-project.yml
Labels: ci

docs(post-pr): add documentation for PR #45
  devDOCS/45/FUTURE_WORK_TODO45.md
  devDOCS/45/ISSUES_TO_CREATE45.md
  devDOCS/45/LESSONS_LEARNED45.md
Labels: none

docs(security): add guidelines for safe pull_request_target usage
  AGENTIC/WORKFLOW.md
Labels: none

fix(ci): correct workflow permissions and inputs
  .github/workflows/pr-reviewer-assigner.yml
  .github/workflows/triage-to-project.yml
Labels: ci

docs(workflow): add instruction for evaluating reviewer contributions in merge process
  AGENTIC/WORKFLOW.md
Labels: none

docs(post-pr): add documentation for PR #67
  devDOCS/67/FUTURE_WORK_TODO67.md
  devDOCS/67/ISSUES_TO_CREATE67.md
  devDOCS/67/LESSONS_LEARNED67.md
Labels: none

fix(ci): correct schema for auto-assign action
  .github/auto_assign.yml
Labels: none

fix(ci): implement correct schema for label-based reviewer assignment
  .github/auto_assign.yml
Labels: none

docs(post-pr): add documentation for PR #70
  devDOCS/70/FUTURE_WORK_TODO70.md
  devDOCS/70/ISSUES_TO_CREATE70.md
  devDOCS/70/LESSONS_LEARNED70.md
Labels: none

fix(security): apply security hardening based on bot feedback
  .github/workflows/triage-to-project.yml
  AGENTIC/WORKFLOW.md
Labels: ci

fix(ci): use PAT for reviewer assigner workflow to fix permission error
  .github/workflows/pr-reviewer-assigner.yml
Labels: ci

fix(ci): use PAT for reviewer assigner workflow
  .github/workflows/pr-reviewer-assigner.yml
Labels: ci

docs(post-pr): add documentation for PR #68
  devDOCS/68/FUTURE_WORK_TODO68.md
  devDOCS/68/ISSUES_TO_CREATE68.md
  devDOCS/68/LESSONS_LEARNED68.md
Labels: none

feat(security): pin GitHub Actions to immutable versions
  .github/workflows/auto-assign.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/post_merge_issue_creation.yml
  .github/workflows/post_push_documentation.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-reviewer-assigner.yml
  .github/workflows/release.yml
Labels: ci

chore(security): reduce workflow token permissions to least privilege
  .github/workflows/auto-assign.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/post_merge_issue_creation.yml
  .github/workflows/post_push_documentation.yml
  .github/workflows/release.yml
  .github/workflows/triage-to-project.yml
Labels: ci

fix(ci): correct github-token input for add-to-project workflow
  .github/workflows/triage-to-project.yml
Labels: ci

fix(ci): move permissions to job level in triage-to-project workflow
  .github/workflows/triage-to-project.yml
Labels: ci

feat(security): Pin GitHub Actions and Refine Workflow Permissions
  .github/workflows/auto-assign.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/post_merge_issue_creation.yml
  .github/workflows/post_push_documentation.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-reviewer-assigner.yml
  .github/workflows/release.yml
  .github/workflows/triage-to-project.yml
Labels: ci

docs(postpr): Add POSTPR documentation for PR #74
  devDOCS/74/FUTURE_WORK_TODO74.md
  devDOCS/74/ISSUES_TO_CREATE74.md
  devDOCS/74/LESSONS_LEARNED74.md
Labels: none

feat(security): Add CodeQL workflow for security scanning
  .github/workflows/codeql-analysis.yml
Labels: ci

fix(pr): Remove extraneous POSTPR documentation for PR #74 from PR #75
  devDOCS/74/FUTURE_WORK_TODO74.md
  devDOCS/74/ISSUES_TO_CREATE74.md
  devDOCS/74/LESSONS_LEARNED74.md
Labels: none

fix(ci): Address PR #75 review feedback and enhance security scanning
  .github/workflows/actionlint.yml
  .github/workflows/codeql-analysis.yml
Labels: ci

fix(ci): Update CodeQL action versions to v3
  .github/workflows/codeql-analysis.yml
Labels: ci

fix(ci): Ensure all CodeQL actions use v3
  .github/workflows/codeql-analysis.yml
Labels: ci

fix(ci): Correct Autobuild CodeQL action version to v3
  .github/workflows/codeql-analysis.yml
Labels: ci

docs(postpr): Add POSTPR documentation for PR #75
  devDOCS/75/FUTURE_WORK_TODO75.md
  devDOCS/75/ISSUES_TO_CREATE75.md
  devDOCS/75/LESSONS_LEARNED75.md
Labels: none

feat(security): Implement Automated Security Scanning for GitHub Actions Workflows
  .github/workflows/actionlint.yml
  .github/workflows/codeql-analysis.yml
  devDOCS/75/FUTURE_WORK_TODO75.md
  devDOCS/75/ISSUES_TO_CREATE75.md
  devDOCS/75/LESSONS_LEARNED75.md
Labels: ci

chore(config): Consolidate and Refine Auto-Assign Reviewer Configuration
  .github/auto_assign.yml
Labels: none

fix(ci): Use GITHUB_TOKEN instead of ASSIGNER_PAT in pr-reviewer-assigner
  .github/workflows/pr-reviewer-assigner.yml
Labels: ci

fix(ci): Trigger pr-reviewer-assigner on synchronize
  .github/workflows/pr-reviewer-assigner.yml
Labels: ci

fix(ci): Trigger auto-assign on pull_request_target
  .github/workflows/auto-assign.yml
Labels: ci

refactor(ci): Consolidate labeling and assigning into a single workflow
  .github/workflows/auto-assign.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/triage.yml
  AGENTIC/devDOCS/__pycache__/config.cpython-312.pyc
  AGENTIC/devDOCS/__pycache__/create_issues.cpython-312.pyc
  AGENTIC/devDOCS/__pycache__/example_config_usage.cpython-312.pyc
  AGENTIC/devDOCS/__pycache__/generate_docs.cpython-312.pyc
  GEMINI.md
  QWEN.md
  __pycache__/run_tests.cpython-312.pyc
  __pycache__/validate_workflows.cpython-312.pyc
  devDOCS/FUTURE_WORK_TODO23.md
  devDOCS/FUTURE_WORK_TODO29.md
  devDOCS/ISSUES_TO_CREATE23.md
  devDOCS/ISSUES_TO_CREATE29.md
  devDOCS/LABELER_WORKFLOW_ISSUE.md
  devDOCS/LESSONS_LEARNED23.md
  devDOCS/LESSONS_LEARNED29.md
  tests/__pycache__/test_config.cpython-312-pytest-7.4.4.pyc
  tests/__pycache__/test_config.cpython-312.pyc
  tests/__pycache__/test_create_issues.cpython-312-pytest-7.4.4.pyc
  tests/__pycache__/test_create_issues.cpython-312.pyc
  tests/__pycache__/test_generate_docs.cpython-312-pytest-7.4.4.pyc
  tests/__pycache__/test_generate_docs.cpython-312.pyc
Labels: documentation, ci

fix(ci): Remove redundant pr-reviewer-assigner workflow
  .github/workflows/pr-reviewer-assigner.yml
Labels: ci

refactor(ci): Consolidate labeling and assigning into a single workflow
  .github/auto_assign.yml
  .github/workflows/auto-assign.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-reviewer-assigner.yml
  .github/workflows/triage.yml
Labels: ci

chore(ci): Rename job to triage
  .github/workflows/triage.yml
Labels: ci

fix(ci): Trigger auto-assign on labeled event. Fixes #78
  .github/workflows/triage.yml
Labels: ci
