Repository lfgranja/AGENTIC-devDOCS, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, python, tests

.github/labeler.yml:

# .github/labeler.yml

# Add 'documentation' label to any PR that modifies markdown files
documentation:
  - changed-files:
      - any-glob-to-any-file: ['*.md']

# Add 'ci' label to any PR that modifies GitHub Actions workflows
ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/*']

# Add 'python' label to any PR that modifies python files in the AGENTIC directory
python:
  - changed-files:
      - any-glob-to-any-file: ['AGENTIC/**/*.py']

# Add 'tests' label to any PR that modifies files in the tests directory
tests:
  - changed-files:
      - any-glob-to-any-file: ['tests/**/*.py']

docs(security): Document PAT management strategy. Fixes #73
  AGENTIC/WORKFLOW.md
Labels: none

feat(security): Add actionlint workflow for GitHub Actions scanning. Fixes #72
  .github/workflows/actionlint.yml
Labels: ci

feat(security): Add actionlint workflow for GitHub Actions scanning. Fixes #72
  .github/workflows/actionlint.yml
  .github/workflows/ci.yml
  .github/workflows/post_merge_issue_creation.yml
  .github/workflows/post_push_documentation.yml
  .github/workflows/triage-to-project.yml
Labels: ci

fix: Update CI/CD workflows, resolve conflicts, and apply suggestions
  .github/workflows/triage.yml
  AGENTIC/devDOCS/generate_docs.py
  commit_message.txt
  devDOCS/83/POSTPR.md
Labels: ci, python

docs: Expand CONTRIBUTING.md with detailed guidelines
  CONTRIBUTING.md
Labels: documentation

docs: Create architecture documentation for automation tools and update README
  AGENTIC/devDOCS/ARCHITECTURE.md
  README.md
Labels: documentation

ci: Implement CI/CD pipeline with GitHub Actions
  .github/workflows/ci.yml
Labels: ci

feat(config): Add configuration support for create_issues.py
  AGENTIC/devDOCS/create_issues.py
Labels: python

docs: Update tool usage order with MCP clarification
  AGENTIC/AGENTIC.md
Labels: none

docs: Emphasize user-requested tool usage in AGENTIC.md
  AGENTIC/AGENTIC.md
Labels: none

docs: Refine tool usage order based on review feedback
  AGENTIC/AGENTIC.md
Labels: none

fix: Resolve SyntaxError in create_issues.py
  AGENTIC/devDOCS/create_issues.py
Labels: python

docs: Refine tool usage hierarchy scope and add fallback examples
  AGENTIC/AGENTIC.md
Labels: none

docs: Add PR85-TODO.md with detailed action plan
  PR85-TODO.md
Labels: documentation

docs: Update PR85-TODO.md to reflect pending manual fix
  PR85-TODO.md
Labels: documentation
